{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="Description" content="Enter your description here"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href={% static "css/style.css" %}>
    <title>Dashboard Page</title>
    <style>
        .list-group{
            color:black;
        }

        h5{
            font-weight:bold;
            color:#27EF9F;
        }

    </style>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg">
            <div class="container">
                <h4 class="text-center">Dashboard</h4>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                    <ul class="navbar-nav mx-auto">
                        <li class="nav-item">
                            <a class="nav-link active" href="#">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'user_details'%}">User Details</a>
                        </li>
                       
                        
                    </ul>
                    <div class="d-flex">
                        <a href="{% url 'Logout' %}" name = 'Logout'>
                            <button class="btn btn-outline-primary ms-3">Logout</button>
                        </a>
                    </div>
                </div>
            </div>
        </nav>
    </header>

    <div class="container">
        <h1>Welcome, {{ request.user.username }}!</h1>

        
        <div class="container">
            <h4> <strong>Your Subscriptions Packages</strong></h5>
            <div class="list-group">
                {% for subscription in subscribed_courses %}
                    <div class="list-group-item">
                        {% if 'Basic' in subscription.module.name %}
                        <h6><strong>Basic Package</strong></h6>
                            <a href="{% url 'basic_dashboard' %}" class="btn btn-primary">Access to Basic Level</a>
                        {% elif 'Advanced' in subscription.module.name %}
                        <h6> <strong>Advanced Package</strong></h6>    
                        <a href="{% url 'advanced_dashboard' %}" class="btn btn-success ">Access to Advanced Level</a>
                        {% elif 'Hybrid' in subscription.module.name %}
                        <h6><strong>Hybrid Package</strong></h6>
                            <a href="{% url 'basic_dashboard' %}" class="btn btn-primary ">Access to Basic Level</a>
                            <a href="{% url 'advanced_dashboard' %}" class="btn btn-success ">Access to Advanced Level</a>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
        </div>
        
        
    </div>
    

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>